body{
	margin: 0;
	text-align: center;
	background-color: #D2D8DB;
}
header{
	display: flex;
	height: 100px;
	background-color: #0D2C54;
	justify-content: space-around;
	align-items: center;
	box-shadow: 1px 1px 1px black;
}


/*-----------------------PAGE ACCUEIL------------------------*/

.creer{
	color: #F4967A;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 160px;
	border: 1px solid #F4967A;
	border-radius: 50px;
}

.creer:hover {
	background-color: #F4967A;
	color: #0D2C54;
}

.logo {
	font-size: 45px;
	color: #F47E5A;
	text-shadow: 1px 1px 1px black;
}

#spanLogo {
	font-size: 20px;
	color: #F47E5A;
}

h1 {
	color: #13427F;
	text-shadow: 1px 1px 1px #F47E5A;
}

.memepresentation{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 76%;
	margin-left: 12%;
}
.memedefaut{
	width: 225px;
	height: 225px;
}
.meme{
	margin-bottom: 15px;
	text-align: center;
	background-color: #424444;
	padding-bottom: 5px;
	color: white;
	box-shadow: 1px 1px 1px black;
}
.twitter{
	text-decoration: none;
	color: white;
}
.twitter:hover{
	color: #F47E5A;
	text-decoration: none;
}

/*---------------------------PAGE DETAILS--------------------*/

.presentation{
	display: flex;
	flex-direction: column;
	width: 35%;
	margin-left: 32.5%;
	border: 1px solid darkgrey;
	background-color: #424444;
	color: white;
}
.imagedetail{
	width: 100%;
}




@media screen and (max-width: 450px) {

	header {
		display: block;
		padding-bottom: 15px;
		margin: 0px;
		padding-top: 15px;
	}

	.creer {
		text-align: center;
	}

	.logo {
		text-align: center;
		font-size: 25px;
		margin-top: 0px;
	}

	.presentation {
		width: 90%;
		margin-left: 5%;
	}
  
}